
section.about-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    min-height: 100vh;

    .about-section-content {
        width: 100%;
    }
    
    #about-text{
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: wrap;
    margin: 0 auto;
    /* letter-spacing: .15em; */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    line-height: 1.5;
    vertical-align: middle;
    display: inline-block; 
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(9, 6, 0); }
}

@include media-breakpoint-down(lg) {
    // hide name tittle on medium and smaller screens
    #name-title {
        display: none;
    }

    section.about-section-content {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    
}

