section.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    min-height: 100vh;

    .about-section-content {
        width: 100%;
    }

    #name-title {
        @include slide-up(1s);
    }
    
    #about-text{
        @include slide-up(1s);
    }
    
    .social-icons{
        @include slide-up(1s);
    }
}

@include media-breakpoint-down(lg) {
    // hide name title on medium and smaller screens
    #name-title {
        display: none;
    }

    section.about-section-content {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
}