doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Devonte Hillman

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Dévonté Hillman
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills

        // Page Content
        .container-fluid.p-0

            // About
            section#about.about-section
                .about-section-content
                    h1#name-title.mb-0
                        | Dévonté
                        span.text-primary Hillman
                    p#typed-text.lead.mb-5.typed-text
                    //- p.lead.mb-5.typed-text
                    //-     |I am seeking a challenging software developer position where I can apply my foundational knowledge of object-oriented programming, web development, and passion for creating maintainable code. My career goals are focused on securing an internship that will allow me to gain first-hand experience in what it’s like to contribute to a team of experienced developers. As a current student pursuing a bachelor’s degree in computer science and a graduate of a 6-month intensive web design program, I have acquired a range of technical and analytical skills that will enable me to make valuable contributions.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/devonte-hillman-3a1558158/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/devontehillman')
                            i.fab.fa-github
                        a.social-icon(href='#!')
                            i.fas.fa-envelope

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Grand Valley Solar Racing Club
                            .subheading.mb-3 Web site Development
                            p
                                | Grand Valley's Solar Racing Club is an organization dedicated to advancing solar energy technology through innovation, education, and hands-on experience. My role in the club was to create a brand new website to my mission was to craft a brand new website that would exhibit professionalism to attract new members, sponsors, and showcase the vibrant culture of the club. 
                        .flex-shrink-0
                            span.text-primary DESCRIPTION COMING SOON
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Royal Body Athletics
                            .subheading.mb-3 Web site Development
                            p
                                | Royal Body Bootcamp classes are high interval training (HIIT) classes focused on getting your heart rate up in a fun and effective way. MY role was to come into and continue to develop the shopify website they had set up. My focus was on attracting new members, providing information for existing members and provide a hub where updates and merchandise could be sold.
                        .flex-shrink-0
                            span.text-primary DESCRIPTION COMING SOON

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Battle Creek YMCA
                            .subheading.mb-3 Web Site Development
                            p
                                | The Battle Creek YMCA, a pillar of community wellness, I proposed a to refactor their website to improve their digital presence and user experience. The YMCA serves as a vibrant community hub committed to wellness goals. I set out to streamline the navigation, provide brief descriptions of diverse workout equipment and classes, to drive members to take action. The refactored website reflects the YMCA's dedication to fostering a supportive diverse community environment for healthy living.
                        .flex-shrink-0
                            span.text-primary DESCRIPTION COMING SOON

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Bachelor of Science in
                            .subheading.mb-3 Bachelor of Science
                        .flex-shrink-0
                            span.text-primary Expected Graduation April 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Switzerland Exchange Program for Computer Science
                            .subheading.mb-3 Zurich University of Applied Sciences
                        .flex-shrink-0
                            span.text-primary August 2023 

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Development Certificate
                            .subheading.mb-3 Michigan State University
                        .flex-shrink-0
                            span.text-primary May 2021

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-github 
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-shopify 
                    
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development

            hr.m-0



        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
        script(src='js/typewrite.js')